@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
}

:root{
  --primary: hsl(230, 35%, 7%);
  --secondary: hsl(231, 77%, 90%);
  --ternary: hsl(0, 0%, 100%);
  --font1: 'Barlow Condensed', sans-serif;
  --font2: 'Bellefair', serif;
}

html{
  background: url("./assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  color: #FFF;
  font-family: var(--font2);
}